.ResultSockColor_Container {
    display: flex;

    width: 100%;
    height: calc(var(--vh, 1vh) * 100);

    align-items: center;
    margin : 0 auto;
}

.ResultSockColor_Wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height : 661px;

    background: #1E1F23;
}

.ResultSockColor_Progress {
    width: 370px;
    height : 2px;

    margin-top : 30px;
    margin-left: auto;
    margin-right : auto;
}

.ResultSockColor_TextBox_LayOut {
    display: flex;
    flex-direction: column;

    margin-top : 50px;
    margin-left : 20px;
    margin-right : auto;

    color: #FFF;
    font-family: Pretendard;


    .ResultSockColor_TextBox1 {
        display: flex;
        width: 300px;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .ResultSockColor_TextBox2 {
        font-size: 16px;
        font-weight: 400;
    }
}

.ResultSockColor_ResultImg {
    width: 220px;
    height : 240px;

    margin-top : 97px;
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;

}
.ResultSockColor_Btn {
    display: flex;
    width: 350px;
    height : 50px;

    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background: #DDFD5C;
    border : none;

    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;

    margin : 0 auto;
}